.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* header */
.headerStyle {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  text-align: center;
}

.headerStyle h1 {
  color: #333; /* Dark grey color */
  font-size: 2em;
}

.headerStyle h2 {
  color: #666; /* Lighter grey color */
  font-size: 1.5em;
}
/* Body elements  */

body {
  font-family: Arial, sans-serif;
}

main {
  margin: 20px;
  padding: 20px;
  background-color: #cb2e2e; /* White background */
  border: 1px solid #ddd; /* Light grey border */
}

footer {
  background-color: #333; /* Dark background */
  color: #fff; /* White text */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}